.pLogin{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.pLogin:hover{
    text-decoration: underline;
}
/* profile picture */
.profileWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
}
.profilePic img{
    width: 30px;
    border-radius: 50%;
}
.dropDetails{

}
.dropDetails{
    font-size: 20px;
}
.BiUpArrow{
    color: rgb(255, 255, 255);
    font-size: 30px;
    position: absolute;
    bottom: -22px;
    right: 0px;
}
.profileDetials{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 60px;
    right: 0px;
    width: 200px;
    background: #fff;
    padding: 20px;
    box-shadow: 5px 5px 5px #00000067;
    border-radius: 5px;
}
.signOut{
    margin-top: 10px;
    display: flex;
    font-size: 20px;
}
.signOut:hover{
    text-decoration: underline;
}
.diactivate{
    display: none;
}
.pic{
    margin: 10px;
}
.pic img{
    width: 80px;
    border-radius: 50%;
}