.phoneNoLogin{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    position: relative;
    margin-top: 30px;
}
.back{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
}
.back:hover{
    cursor: pointer;
}
.logoWrap{
    display: flex;
    margin: 30px;
    margin-top: 70px;
    
}
.logoWrap img{
    width: 100px;
}
.text{
    font-size: 1.2rem;
}
.input{
    display: flex;
    margin: 1rem 0 2rem 0;
    border: 5px #00A49F solid;
    width: 100%;
    padding: 6px;
    border-radius: 6px;
}
.code{
    padding: 0 10px 0 10px;
    border-right: 1px solid rgba(0, 47, 52, 0.36);
}
.input{
    margin-left: 5px;
}
.input input{
    border: none;
    width: 250px;
    height: 100%;
}
.discription{
    font-size: 15px;
    color: #424d4c;
}
.nextBtnDisable{
    width: 100%;
    padding-top: 40px;
}
.nextBtnDisable button:hover{
    cursor: no-drop;
}
.nextBtnDisable button{
    background-color: rgba(39, 34, 34, 0.308);
    color: #ffffff;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 4px;
}
.nextBtn{
    padding-top: 40px;
    width: 100%;
}
.nextBtn button{
    width: 100%;
    height: 40px;
    background-color: #002F34;
    color: #fff;
    border: 2px #002F34 solid ;
    border-radius: 4px;
    transition: 0.5s;
}
.nextBtn button:hover{
    cursor: pointer;
    color: #002F34;
    background-color: #fff;
}
/* OTP CSS */
.otpWrap{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
}
.inputOTP{
    display: flex;
}
.inputOTP input:focus{
    border-color: #00A49F;
}
.otp{
    border: 3px black solid;
    border-radius: 5px;
    width: 20px;
    height: 35px;
    margin: 10px;
    padding-left: 15px;
    justify-content: center;
}
.otp input{
    border: none;
}
/* disable the scroll */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.submit{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}
.submit button{
    width: 100%;
    height: 40px;
    background-color: #002F34;
    color: #fff;
    border: 2px #002F34 solid ;
    border-radius: 4px;
    transition: 0.5s;
}
.submit button:hover{
    color: #002F34;
    background-color: #fff;
    cursor: pointer;
}
.resend{
    color: blue;
}



